.genres-header {
    background-color: black;
    color: gold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: 'Times New Roman', serif;
}
body {
    background-color: #2a2929; 
}

.genres-header h1 {
    font-size: 32px;
    font-weight: bold;
    margin-left: 20px;
}

.genres-header p {
    font-size: 24px;
    font-style: italic;
}

.genres-header .back-menu {
    background-color: gold;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 20px;
}

.genres-header .back-menu:hover {
    background-color: darkgoldenrod;
}
.genres-content {
    background-color: #f0f0f0; 
    color: rgb(0, 0, 0); 
    font-size: 20px;
    max-width: 800px; 
    margin: 0 auto; 
    text-align: justify; 
    margin-top: 40px;
    padding: 20px; 
    border-radius: 10px; 
}



@media screen and (max-width: 768px) {
    .genres-content,
    .history-content,
    .instrument-content,
    .artist-content {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .instrument-content img,
    .artist-content img {
      width: 90%;
      max-width: 300px;
      margin-bottom: 20px;
    }
  
    .back-menu {
      display: block;
      margin: 10px auto;
    }
  
    header {
      flex-direction: column;
      text-align: center;
    }
  }
  
